<h1> PI game </h1>

{{#if error}} <span>{{error}}</span>{{/if}}

<h1>Add User</h1>

{{#if error}} <span>{{error}}</span>{{/if}}

<form method="POST" action="/user/game">

  <div class="form-group">
    <label>Name</label>
    <input type="text" name="player_name" class="form-control" placeholder="Name">
  </div>

  <div class="form-group">
    <label>Pi value</label>
    <input type="text" name="pi_value" class="form-control" placeholder="Pi value">
  </div>

  <input type="submit" class="btn btn-primary" value="Save">

</form>