<h1> PI game </h1>

{{#if error}} <span>{{error}}</span>{{/if}}
{{#if resultInputForGame}} <span>{{resultInputForGame}}</span>{{/if}}
<form method="POST" action="/user/game">

  <div class="form-group">
    <label>Name</label>
    <input type="text" name="player_name" class="form-control" placeholder="Name">
  </div>

  <div class="form-group">
    <label>Pi value</label>
    <input type="text" name="pi_value" class="form-control" placeholder="Pi value">
  </div>

  <input type="submit" class="btn btn-primary" value="Save">

</form>

<div>
  <h3>Score: </h3>
        <div style="display:inline-block; float: left; ">
          <ul class="task-list" style="list-style: none;">
              {{#each name }}
                  <li>
                      {{this}} 
                  </li>
              {{/each}}
            </ul>
        </div>
        <div style="display:inline-block; float: left;">
            <ul class="task-list" style="list-style: none;">
              {{#each value }}

                  <li>
          
                      {{this}}
                  </li>
                {{/each}}
          </ul>
        </div>
</div>