<h1>Work space</h1>
{{#if error}} <span>{{error}}</span>{{/if}}


<div>
  <h3>To do: </h3>
      <form method= "post" action="/task/delete">
          <ul class="task-list">
              {{#each tasks}}
              <li>
                  <input type="checkbox" name="task" value="{{this}}" class="form-check-input" id="flexCheckDefault">
                    <span>
                        {{this}}
                    </span>
                  </label>
              </li>
              {{/each}}
          </ul>
          <input type="submit" value="Remove"> 
      </form>
</div>

<div>
  <form method="post" action="/task/add">
    <textarea class="form-control" id="exampleTextarea" rows="3" name="task" placeholder="Add a task"></textarea>
    <input class="form-control" type="submit" value="Add a Task">
  </form>
</div>